<div class="flex justify-between mt-6">
    <h1 class="text-3xl font-bold mb-4 text-[#023047]">Lista de Vacaciones</h1>
    <a 
        class="bg-[#219ebc] text-white font-medium rounded px-3 py-1 mb-4" 
        [routerLink]="['/dashboard/vacaciones/solicitar-vacaciones']"
    >Solicitar vacaciones</a>
    <!-- <mat-form-field>
        <mat-label>Remitente</mat-label>
        <mat-select [(ngModel)]="empleado_id">
            <mat-option>
                <ngx-mat-select-search [placeholderLabel]="'Buscar...'" [formControl]="bankServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of objs" [value]="item.empleado_id"> {{item.nombres}} {{item.apellidos}} </mat-option>
        </mat-select>
    </mat-form-field> -->
</div>

<table class="table-auto w-full text-[#023047]">
    <thead>
        <tr>
            <th class="px-4 py-2 text-center">N°</th>
            <th class="px-4 py-2">Nombre</th>
            <th class="px-4 py-2 text-center">Fecha de inicio</th>
            <th class="px-4 py-2 text-center">Dias de Vacación</th>
            <th class="px-4 py-2 text-center">Aprobar</th>
            <th class="px-4 py-2 text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-t" *ngFor="let base of objs; let i = index">
            <td class="text-center">{{  0 + i + this.objsPaginado.from }}</td>
            <td>{{ base?.vacacion?.empleado?.nombres }} {{ base?.vacacion?.empleado?.apellidos }}</td>
            <td class="text-center">{{ base?.vacacion?.empleado?.fecha_inicio | date }}</td>
            <td class="text-center">{{ base?.dias_vacaciones }}</td>
            <td class="text-center">
                <mat-slide-toggle [id]="base.id" [checked]="!base.activo" [disabled]="!base.activo"
                (change)="enable(base.id)"></mat-slide-toggle></td>
            <td class="text-center">
                <button class="bg-[#219ebc] text-white rounded my-0.5 px-2 py-0.5 mr-2 font-medium" (click)="verPdf(base.id)">Ver PDF</button>
                <!-- <button class="bg-[#fb8500] text-white rounded my-0.5 px-2 py-0.5 mr-2 font-medium" (click)="edit(base.id)">Editar</button> -->
                <button class="bg-[#023047] text-white rounded my-0.5 px-2 py-0.5 font-medium" (click)="eliminar(base.id)" *ngIf="base.activo">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
  
<div class="flex justify-center my-4">
    <ul class="pagination">
        <li class="page-item" *ngFor="let link of objsPaginado?.links">
            <a class="page-link cursor-pointer text-[#023047] text-xs" (click)="loadPage(link.url)" [class.active]="link.active">{{ getLinkText(link.label) }}</a>
        </li>
    </ul>
</div>